/* =========================
   Root container
   ========================= */


/* Dark Theme */
.dark {
  --dark_stroke: #ffffff;
  --dark_fill: #222222;
  --dark_bg: #222222;
  --dark_color: #ffffff;
}

.canvas {
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--dark_bg,white);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
     - SVG drawing layer
     - KaTeX overlay layer
     ========================= */

.svgLayer,
.katexLayer {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svgLayer {
  user-select: none;
  stroke: var(--dark_stroke,black);
  fill:var(--dark_fill,white) ;
}
.arrowhead{
  fill : var(--dark_stroke,black) ;
}

.katexLayer {
  contain: layout style paint;
  white-space: nowrap;
  color : var(--dark_color,black) ;
  background-color: #00000000;
}


/* =========================
     Individual KaTeX nodes
     (you position these manually)
     ========================= */

.katexNode {
  position: absolute;

  /* IMPORTANT:
       Use CSS transforms for positioning & scaling
       for consistent cross-browser font metrics
    */
  transform-origin: center;
  user-select: none;
  line-height: 1;
  /* default: center both axes */
  transform: translate(var(--translate-x, -50%), var(--translate-y, -50%));

  pointer-events: none;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;

}
.katexSubNode{
  background-color: var(--dark_bg,white);
}

.katexNodeLeftAligned {
  --translate-x: calc(-100% - 5px); 
}
.katexNodeRightAligned {
  --translate-x: 5px; 
}
.katexNodeTopAligned {
  --translate-y: 0px; /* top edge */
}
.katexNodeBottomAligned {
  --translate-y: -100%; /* bottom edge */
}

/* =========================
     KaTeX base overrides
     ========================= */

:global(.katex) {
  font-size: 1em;
  line-height: 1;

  /* Avoid Safari subpixel jitter */
  text-rendering: geometricPrecision;
}

/* =========================
     Debug helpers
     ========================= */
.canvas.debug  {
  background-color : #f0f0f0;
}

.canvas.debug .katexLayer {
  box-shadow: inset 0 0 0 2px blue;
  opacity: 0.3 ;
}

.canvas.debug .svgLayer {
  box-shadow: inset 0 0 0 2px red;
  opacity: 1;
}
